

/* Start:/local/components/oe/form.result.new/templates/callback/style.css?1608648644699*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(/local/components/oe/form.result.new/templates/callback/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.hidden {
	display: none;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(/local/components/oe/form.result.new/templates/callback/images/icon_warn.gif);
}
/* End */


/* Start:/local/templates/oe/components/bitrix/news.list/brandbook.cases/style.css?1558359838150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/oe/components/bitrix/news.list/brandbook.price/style.css?1558359838150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/components/oe/form.result.new/templates/callback/style.css?1608648644699 */
/* /local/templates/oe/components/bitrix/news.list/brandbook.cases/style.css?1558359838150 */
/* /local/templates/oe/components/bitrix/news.list/brandbook.price/style.css?1558359838150 */
