#container{
    transform-style: preserve-3d;
    box-shadow: 0 0 20px gray;
  }
  #title{
    bottom: 20%;
    padding: 0 5%;
  }
  #title hr{
    width: 80px;
  }
  #title-link {
    bottom: 10%;
    padding: 0 5%;
  }
  #link{
    top: 90%;
    right: 5%;
    opacity: 0;
  }
  #child-title{
    transform: translateZ(-20px);
    opacity: 0;
    top: 17%;
    left: 5%;
  }
  #child-dis{
    opacity: 0;
    top: 20%;
    left: 5%;
    transform: translateX(-10rem);
  }
  #child-title hr{
    width: 20px;
  }
  #first{
    background: rgba(38, 0, 255, 0.35);
  }
  #container:hover #child-title{
    opacity: 1;
    top: 7%;
  }
  #container:hover #link{
    opacity: 1;
  }
  #container:hover #child-dis{
    transform: translateX(0rem);
    opacity: 1;
  }
  #container:hover #first{
    background: white;
  }
  #container:hover #title{
    transform: translateY(-5rem);
    opacity: 0;
  }
  #container:hover #title-link{
    opacity: 0;
  }
  #container:hover #title hr{
    transform: translateY(-5rem);
    opacity: 0;
  }
  #container:hover #child-title hr{
    width: 80px;
  }
