@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
body{
  font-family: 'Montserrat', sans-serif !important;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

/* #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3 {
      display: block;
    } */

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.dark {
  background: linear-gradient( rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));   
}
#about:hover + #aboutHover {
  display: flex;
}
#aboutHover:hover {
  display: flex;
}
#service:hover + #serviceHover {
  display: flex;
}
#serviceHover:hover {
  display: flex;
}
#industry:hover + #industryHover {
  display: flex;
}
#industryHover:hover {
  display: flex;
}


#logo:hover + #logoHover{
  display: grid;
  box-shadow: 5px 5px 8px rgb(190, 190, 190);
}
#logoHover:hover{
  display: grid;
  box-shadow: 5px 5px 8px rgb(190, 190, 190);
}


/* #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
      color: #2b6cb0;
      /* Set to match the Tailwind colour you want the active one to be
      } */
.responsive-active {
  display: block;
}
.responsive-hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .responsive-active {
    display: none;
  }
  .responsive-hidden {
    display: block;
  }
  .home-page-form-1 {
    padding: 5rem;
  }
  .home-page-form-1 form {
    padding: 12px;
  }
}

@media screen and (max-width: 768px) {
  .home-page-form-1 {
    width: 100%;
    padding: 3rem;
  }
  .home-page-form-1 form {
    padding: 8px;
  }
  .responsive-hidden {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .home-page-form-1 {
    padding: 0.5rem;
  }
  .home-page-form-1 form {
    padding: 4px;
  }
  .responsive-hidden {
    font-size: 0.75rem;
  }
}

.container{
  padding-top: 150px;
}

.slick-slide img{
  width: 150px;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block
}
.slick-slide{
  display: none;
  float: left;

}
.slick-slide img{
  display: block;
}
.slick-initialized .slick-slide{
  display: block;
}
.copy{
  padding-top: 250px;
}


.container{
    padding-top: 150px;
}

.slick-slide img{
    width: 150px;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
  
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}

@media(max-width: 468px) {
  .infos {
      display: flex;
      flex-direction: column;
  }
  .wrapped {
      margin: 10px 12px;
  }

  .button {
      position: relative;
  }
  
  .btn {
      position: absolute;
      right: 96px;
      bottom: 16px;
  }
}


@media(min-width: 576px) {
  .infos {
      display: flex;
      flex-direction: column;
  }
  .wrapped {
      margin: 10px 12px;
  }

  .button {
      position: relative;
  }
  
  .btn {
      position: absolute;
      right: 108px;
      bottom: 16px;
  }


}

@media(min-width: 768px) {
  .infos {
      display: flex;
      flex-direction: column;
  }
  .button {
      position: relative;
  }
  
  .btn {
      position: absolute;
      right: 124px;
      bottom: 16px;
  }
}
